@font-face {
    font-family: 'Saol Display';
    src: url('font/Saol-display-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Saol Display';
    src: url('font/Saol-display-light-italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Ringside Extra Wide SSm A';
    src: local("Ringside SSm Extra Wide Light"),
         local("RingsideSSmExtraWide-Light");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ringside Extra Wide SSm A';
    src: local("Ringside SSm Extra Wide Light Italic"),
         local("RingsideSSmExtraWide-LightItal");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Ringside Extra Wide SSm A';
    src: local("Ringside SSm Extra Wide Med"),
         local("RingsideSSmExtraWide-Med");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Ringside Extra Wide SSm A", "Ringside Extra Wide SSm B", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.65;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #2b303b;
    color: #fff;
}

strong {
    font-weight: 500;
}

$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.nav {
    max-width: 40rem;
    margin: 0 auto;
}

h1 {
    font-family: 'Saol Display', serif;
    font-style: italic;
    margin: 0 auto 0.5rem;
    text-align: center;
    font-size: 4.5em;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center;
    line-height: 1.8;

}

// h1+h2{
//     margin-top: 0;
// }

.event-date {
    font-weight: 300;
    font-size: 0.83em;
}

section {
    margin: 3rem 0;
}

@media screen and (min-width: $breakpoint-sm) {
    .container-fluid {
        padding: 2rem 3rem 3rem;
    }
    .nav {
        margin-bottom: 2rem;
    }
}


@media screen and (min-width: $breakpoint-md) {
    .container-fluid {
        border: 1px solid #fff;
        margin: 3rem;
        padding: 3rem;
    }
    .nav {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    body {
        font-size: 1.1em;
    }
}

@media screen and (min-width: $breakpoint-xl) {
    body {
        font-size: 1.2em;
    }
}
